node_modules/
.DS_Store
homeworks/.DS_Store
homeworks/week4/.DS_Store
homeworks/week4/hw3/.DS_Store
homeworks/week5/.DS_Store
homeworks/week6/.DS_Store
homeworks/week7/hw1/.DS_Store
homeworks/week7/hw3/.DS_Store
